@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: Poppins, sans-serif;
}

body {
	background-color: #f3f5f9;
}

.wrapper {
	display: flex;
	position: relative;
}

.wrapper .sidebar {
	width: 200px;
	height: 100%;
	background: #3c4245;
	padding: 30px 0px;
	position: fixed;
}

.wrapper .sidebar h2 {
	letter-spacing: 5px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.wrapper .sidebar ul li {
	padding: 0;
	padding: 5px;
	border-bottom: 1px solid #719192;
	border-bottom: 1px solid #dfcdc3 0.5;
	border-top: 1px solid #dfcdc3 0.5;
}

.wrapper .sidebar ul li a {
	color: #719192;
	display: block;
}

.wrapper .sidebar ul li a .fas {
	width: 25px;
}

.wrapper .sidebar ul li:hover {
	background-color: #5f6769;
}

.wrapper .sidebar ul li:hover a {
	color: #dfcdc3;
}

.wrapper .sidebar .social_media {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	margin-bottom: 20px;
}

.wrapper .sidebar .social_media a {
	display: block;
	width: 40px;
	background: #dfcdc3;
	height: 45px;
	line-height: 45px;
	text-align: center;
	margin: 0 5px;
	color: #3c4245;
	border-radius: 5px;
}

.role {
	color: white;
}

.wrapper .main_content {
	width: 100%;
	margin-left: 200px;
}

.header {
	width: 100%;
}

.header ul {
	padding: 0;
	margin: 0;
	display: flex;
}

.header ul {
	margin: 0;
	padding: 0;
}

.header ul li {
	margin: 0;
	padding: 0;
}

.wrapper .main_content .header {
	padding: 20px;
	background: #fff;
	color: #717171;
	border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info {
	margin: 20px;
	color: #717171;
	line-height: 25px;
}

.wrapper .main_content .info div {
	margin-bottom: 20px;
}
